[submodule "cryptobib"]
	path = cryptobib
	url = https://github.com/cryptobib/export
[submodule "simple-binding-example"]
	path = simple-binding-example
	url = git@github.com:tornado80/simple-binding-example.git
